@media screen and (max-width: 768px) {
    .popular,
    footer {
        background-color: var(--main-bg-color);
        padding-bottom: 20px;
    }
    .text-overflow {
        white-space: unset;
        overflow: unset;
        text-overflow: unset;
        width: unset;
    }
    .filter:nth-child(4),
    .logo,
    .search-button {
        align-self: center;
    }
    .filter a,
    .location,
    .search,
    .search i {
        position: relative;
    }
    .input-research,
    .search {
        font-size: 18px;
    }

    .full-heading {
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }
    .logo {
        padding: 30px 30px 25px;
    }
    .main-nav {
        padding: 0;
        margin: 0;
        width: 100vw;
        display: flex;
        flex-flow: row nowrap;
    }
    .nav-a {
        margin: 0;
        padding: 0 0 15px;
        border-bottom: 3px solid transparent;
        width: calc(50vw + 0px);
    }
    .main-nav:hover .active {
        border-top: 0 solid #0065fc;
        border-bottom: 0 solid #0065fc;
        color: #000;
    }
    .active,
    .main-nav .active:hover,
    .nav-a:hover {
        border-top: 0 solid transparent;
        border-bottom: 3px solid #0065fc;
        color: #0065fc;
    }
    .desktop {
        display: none;
    }

    .activity-in-marseille {
        display: flex;
        flex-flow: column wrap;
        padding: 30px 0 0 15px;
        margin: 15px 0 0;
    }
    .full-row_100 {
        display: unset;
        flex-flow: row wrap;
        align-content: space-between;
        width: unset;
        height: 100%;
        gap: 30px;
    }
    .activity-in-marseille h1 {
        padding-left: 15px;
        letter-spacing: 0.02px;
        margin: 20px 0;
    }
    .md-row_50 {
        display: flex;
        max-width: calc(100% - 60px);
        flex-flow: column nowrap;
        gap: 0;
        padding: 0;
        margin: 0 0 0 15px;
        min-width: unset;
    }
    .activity-in-marseille img {
        height: 141px;
        min-width: 100%;
        object-fit: cover;
    }
    .activity-column .card-txt {
        height: 59px;
    }
    .activity-column {
        height: 200px;
        opacity: 1;
        margin-top: 0;
        min-width: calc(100% - 100px);
    }
    .accommodations-and-popular section {
        border-radius: 0;
        padding: 21px 20px;
        background-color: transparent;
    }
    .popular {
        margin-top: 35px;
        order: -1;
    }
    .popular-group-cards {
        display: flex;
        justify-content: space-between;
        gap: 0;
        flex-flow: column wrap;
    }
    .card {
        margin-top: 15px;
        max-width: calc(100vw - 45px);
    }
    .popular-group-cards .card {
        margin-top: 15px;
        width: 100%;
        padding-right: 0;
    }
    .popular-group-cards img {
        width: 32.5%;
        height: 134px;
    }
    .popular-group-cards .card-content {
        width: 65%;
    }
    .popular-group-cards .card-title {
        margin-top: 10px;
        letter-spacing: -0.07px;
    }
    .popular-group-cards .card-subtitle {
        letter-spacing: -0.07px;
    }
    .popular-group-cards .card-rating i {
        letter-spacing: -4px;
    }
    .hebergements {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        gap: 0;
        margin-top: 5px;
        order: 2;
    }
    .accommodations-cards {
        display: flex;
        flex-flow: column wrap;
        margin: 0 0 15px;
        gap: 0;
    }
    .grid-accommodations {
        width: calc(100% - 10px);
        height: 197.25px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 114px 85px;
    }
    .grid-accommodations:nth-child(2) {
        order: 6;
    }
    .grid-accommodations:nth-child(6) {
        order: 5;
    }
    .grid-accommodations:nth-child(4) {
        order: 4;
    }
    .grid-accommodations:nth-child(3) {
        order: 3;
    }
    .grid-accommodations .card-rating {
        top: -3px;
        letter-spacing: 4px;
        position: relative;
    }
    .footer-row {
        display: flex;
        flex-flow: row wrap;
        margin: 65px 10px 0;
        gap: 10px;
        width: 100%;
        position: unset;
    }
    .activity-in-marseille,
    .accommodations-and-popular,
    footer {
        width: 100vw;
        position: relative;
        left: -20px;
    }
    .main-container {
        padding: 0;
    }
    .search-button:hover {
        box-shadow: 1px 2px 3px transparent;
    }
    .footer-col {
        margin: 20px 0 20px 20px;
        padding: 0;
        position: relative;
        top: 10px;
    }
}
